<script lang="ts">
	import { browser } from '$app/environment';
	import { PUBLIC_WS_URL } from '$env/static/public';

	$: received = '';
	let msg = '';
	let socket: WebSocket;
	if (browser) {
		socket = new WebSocket(PUBLIC_WS_URL);
		socket.addEventListener('open', () => {
			console.log('Socket connection opened');
		});
		socket.onmessage = function (event: MessageEvent) {
			received = event.data;
			console.log(`Received: ${event.data}`);
		};
	}
	function sendMessage() {
		if (msg.length > 0) socket.send(msg);
	}
</script>

<h1>Send Message</h1>
<form action="" on:submit={sendMessage}>
	<input type="text" bind:value={msg} autocomplete="off" />
	<button>Send</button>
</form>

<h2>{PUBLIC_WS_URL}</h2>
<h2>Received:</h2>
<p>{received}</p>
